<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="content has-text-right">
            <h1 class="title">Verbal Irony</h1>
            <h2 class="subtitle">Mark Antony's Speech</h2>
            <h3>Instructions</h3>

            <p class="content">
              ** In which parts of the speech do you think Mark Antony meant the opposite of what he said on the
              surface?
              Click on the 7 parts of his speech where verbal irony occurs.
            </p>
          </div>

          <progress class="progress is-large" :value="correctCount" :max="arrayCorrectIronies.length"></progress>

          <button class="button is-success is-next is-pulled-right" @click="gotoReflection"
                  v-if="correctAnswerRemaining === 0">
            Go to Reflection
          </button>

          <p class="content is-size-3 has-text-weight-bold has-text-right" v-else>
            {{ correctAnswerRemaining }} more to go</p>
        </div>

        <div class="column is-half">
          <button class="button is-choice has-margin is-light" :disabled="disableChoice(irony)"
                  v-for="irony in ironies" @click="validateChoice($event, irony)">
            {{ irony.text }}
          </button>
        </div>

        <div class="column is-feedback" v-if="selectedChoice">
          <div class="notification" :class="[ selectedChoice.correct ? 'is-success' : 'is-danger' ]">
            <p class="content" v-html="selectedChoice.feedback"></p>
          </div>
        </div>
      </div>
    </div>

    <audio ref="audio"></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'activity',
    data () {
      return {
        selectedChoice: null,
        arraySelectedChoice: [],
        arrayCorrectIronies: [],
        correctCount: 0
      }
    },
    computed: {
      ...mapState(['ironies']),
      correctAnswerRemaining () {
        const totalCorrect = this.arrayCorrectIronies.length

        return totalCorrect - this.correctCount
      }
    },
    mounted () {
      this.ironies.some(irony => {
        if (irony.correct) {
          this.arrayCorrectIronies.push(irony)
        }
      })
    },
    methods: {
      async validateChoice (ev, selectedChoice) {
        this.selectedChoice = selectedChoice
        this.arraySelectedChoice.push(selectedChoice)

        const audio = this.$refs.audio

        if (this.selectedChoice.correct) {
          this.correctCount += 1

          audio.src = require(`@/assets/audio/correct-applause.mp3`)
          ev.target.classList.add('is-success')
        } else {
          audio.src = require(`@/assets/audio/wrong-buzzer.mp3`)
          ev.target.classList.add('is-danger')
        }

        await audio.load()

        await audio.play()
      },
      disableChoice (choice) {
        return this.arraySelectedChoice.some(selectedChoice => selectedChoice.id === choice.id)
      },
      gotoReflection () {
        this.$router.push('/reflection')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .section {
    background-color: #5ec2fd;
    padding: 25px 0 0;
  }

  .progress {
    background-color: #26a4f9;
  }

  .button {
    &.is-choice {
      color: #fff;
      background-color: transparent;
      justify-content: left;
      text-align: left;
      white-space: normal;
      width: 100%;
      height: inherit;

      &.is-success {
        color: #333;
        background-color: #b4fb55;
      }
      &.is-danger {
        background-color: #fe6fa4;
      }

      &:not([disabled]):hover {
        color: #333;
        background-color: #fff196;
      }

      &:disabled {
        opacity: 1;
      }
    }

    &.is-next {
      background-color: #104c7e;
    }
  }

  .notification {
    &.is-success {
      background-color: #8fd247;
    }

    &.is-danger {
      background-color: #a84d6e;
    }
  }

  .has-margin {
    margin: 2.5px 0;
  }
</style>
