<template>
    <section class="hero is-fullheight">
        <div class="columns is-gapless is-multiline is-mobile">
            <div class="column is-one-third-desktop is-12-tablet is-12-mobile" v-for="comicStrip in comicStrips">
                <img :src="require(`@/assets/images/comic/comic-${comicStrip.id}.jpg`)"
                     style="border: thin solid black;" :alt="`Comic ${comicStrip.id}`"
                     @click="openComicModal(comicStrip.id)"/>
            </div>
        </div>

        <button class="button is-large is-dark is-next is-fixed-bottom" @click="gotoInstruction">Next</button>

        <comic-modal :isActive="isActive" :selectedComic="selectedComic" @closeComicModal="closeComicModal"
                     @navigateComic="navigateComic" @gotoInstruction="gotoInstruction"/>
    </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ComicModal from './ComicModal'

  export default {
    name: 'comic-strip',
    components: {
      ComicModal
    },
    data () {
      return {
        isActive: false,
        selectedComic: 1
      }
    },
    computed: {
      ...mapState(['comicStrips'])
    },
    mounted () {
      document.addEventListener('keyup', ev => {
        if (ev.keyCode === 27) {
          this.isActive = false
        }
      })
    },
    methods: {
      navigateComic (value) {
        switch (value) {
          case -1:
          case 1:
            this.selectedComic += value
            break
          case 0:
            this.selectedComic = 1
            break
          default:
            break
        }
      },
      gotoInstruction () {
        this.$router.push('/instruction')
      },
      openComicModal (id) {
        this.selectedComic = id
        this.isActive = true
      },
      closeComicModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>