<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card">
      <div class="modal-content">
        <img :src="require(`@/assets/images/comic/comic-${selectedComic}.jpg`)" :alt="`Comic ${selectedComic}`"/>

        <div class="column">
          <div class="buttons is-centered" v-if="selectedComic >= comicStrips.length">
            <button class="button is-primary" @click="gotoInstruction">Go to Instruction</button>
          </div>

          <div class="buttons is-centered" v-else>
            <button class="button is-primary" :disabled="selectedComic <= 1" @click="navigateComic(-1)">
              <i class="fa fa-fw fa-arrow-left"></i>
            </button>

            <button class="button is-primary" @click="navigateComic(0)">
              <i class="fa fa-fw fa-home"></i>
            </button>

            <button class="button is-primary" :disabled="selectedComic >= comicStrips.length" @click="navigateComic(1)">
              <i class="fa fa-fw fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'comic-modal',
    props: {
      isActive: Boolean,
      selectedComic: Number
    },
    computed: {
      ...mapState(['comicStrips'])
    },
    mounted () {
      // window.addEventListener('keyup', ev => {
      //   switch (ev.keyCode) {
      //     case 37:
      //       this.navigateComic(-1)
      //       break
      //     case 39:
      //       this.navigateComic(1)
      //       break
      //   }
      // })
    },
    methods: {
      closeModal () {
        this.$emit('closeComicModal')
      },
      navigateComic (direction) {
        this.$emit('navigateComic', direction)
      },
      gotoInstruction () {
        this.$emit('gotoInstruction')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $modal-content-width: 80%;
  @import '~bulma';

  .modal-card-foot {
    background: transparent;
  }
</style>
