<template>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter is-size-4">
          <p class="title is-light">Instructions:</p>

          <p class="content is-size-5">
            As you read, identify moments of verbal irony in Mark Antony's speech, when he say something, and
            means the opposite.
          </p>

          <div class="columns">
            <div class="column">
              <p class="content is-size-4 is-uppercase">Click to watch:</p>
              <button class="button is-dark is-large is-rounded" @click="gotoSpeech">Mark Antony's Speech</button>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <p class="is-size-3 has-text-weight-bold is-light is-uppercase">From Julius Caesar, Act III Scene II</p>

          <p>Friends, Romans, countrymen, lend me your ears;</p>
          <p>I come to bury Caesar, not to praise him.</p>
          <p>The evil that men do lives after them;</p>
          <p>The good is often <span class="highlighted-word" data-meaning="buried" data-word="interred"
                                     @mouseover="onMouseOver" @mouseleave="onMouseLeave">interred</span> with their
            bones;
          </p>
          <p>So let it be with Caesar.</p>
          <p>The noble Brutus Hath told you Caesar was ambitious;</p>
          <p>If it were so, it was a grievous fault, And grievously hath Caesar answer’d it.</p>
          <p>Here, under leave of Brutus and the rest –</p>
          <p>For Brutus is an honorable man;</p>
          <p>So are they all, all honorable men –</p>
          <p>Come I to speak in Caesar’s funeral.</p>
          <p>He was my friend, faithful and just to me:</p>
          <p>But Brutus says he was ambitious;</p>
          <p>And Brutus is an honorable man.</p>
          <p>He hath brought many captives home to Rome</p>
          <p>Whose ransoms did the general <span class="highlighted-word" data-meaning="treasury" data-word="coffers"
                                                 @mouseover="onMouseOver" @mouseleave="onMouseLeave">coffers</span>
            fill:</p>
          <p>Did this in Caesar seem ambitious?</p>
          <p>When that the poor have cried, Caesar hath wept:</p>
          <p>Ambition should be made of sterner stuff:</p>
          <p>Yet Brutus says he was ambitious;</p>
          <p>And Brutus is an honorable man.</p>
          <p>You all did see that on <span class="highlighted-word" data-meaning="a ceremonial location in Rome"
                                           data-word="Lupercal" @mouseover="onMouseOver" @mouseleave="onMouseLeave">Lupercal</span>
          </p>
          <p>I thrice presented him a kingly crown,</p>
          <p>Which he did thrice refuse:</p>
          <p>Was this ambition?</p>
          <p>Yet Brutus says he was ambitious;</p>
          <p>And, sure, he is an honorable man.</p>
          <p>I speak not to disprove what Brutus spoke,</p>
          <p>But here I am to speak what I do know.</p>
        </div>

        <div class="column is-one-fifth">
          <div class="box is-hint-box" v-if="showHintBox">
            * {{ hint.word }}: {{ hint.meaning }}
          </div>
        </div>
      </div>
    </div>

    <audio :src="require(`@/assets/audio/instructions.mp3`)" autoplay @ended="onAudioEnded"></audio>
  </section>
</template>

<script>
  export default {
    name: 'instruction',
    data () {
      return {
        hint: {},
        showHintBox: false,
        showNextButton: false
      }
    },
    methods: {
      onMouseOver (ev) {
        const word = ev.target.dataset.word
        const meaning = ev.target.dataset.meaning

        this.hint = {
          word: word,
          meaning: meaning
        }

        this.showHintBox = true
      },
      onMouseLeave () {
        this.hint = {}
        this.showHintBox = false
      },
      onAudioEnded () {
        this.showNextButton = true
      },
      gotoSpeech () {
        this.$router.push('/speech')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    color: #fff;
    background-color: #8e8e8e;
    padding: 25px 0;
  }

  .is-hint-box {
    color: sandybrown;
    background-color: #000;
  }

  .highlighted-word {
    color: sandybrown;
    font-weight: bold;
    cursor: pointer;
  }

  p {
    /*border: thin solid gold;*/
  }
</style>
