<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column is-half is-offset-one-quarter">
            <h1 class="title is-light">What is Verbal Irony?</h1>

            <img :src="require(`@/assets/images/video-thumbnail.jpg`)" alt="" @click="openLink"/>

            <div class="buttons is-centered">
              <button class="button is-primary is-large is-rounded" @click="start">Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    methods: {
      openLink () {
        window.open('https://www.youtube.com/watch?v=IiR-bnCHIYo')
      },
      start () {
        this.$router.push('/quiz')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #f8672c;
    height: 100vh;
  }

  img {
    cursor: pointer;
  }
</style>
