<template>
  <section class="section">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <h1 class="title is-light">Verbal Irony</h1>
          <h2 class="subtitle is-light">Quiz</h2>

          <p class="content is-light">
            Instructions:For each set of images, select the one which demonstrates verbal irony
          </p>

          <div class="columns">
            <div class="column" v-for="choice in quiz.choices">
              <quiz-image :key="choice.id" :quiz="quiz" :choice="choice" @incrementIndex="increaseQuizIndex"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import QuizImage from './QuizImage'

  export default {
    name: 'quiz',
    components: {
      QuizImage
    },
    data () {
      return {
        quizIndex: 0
      }
    },
    computed: {
      ...mapState(['quizzes']),
      quiz () {
        return this.quizzes[this.quizIndex]
      }
    },
    methods: {
      increaseQuizIndex () {
        if (this.quizIndex >= this.quizzes.length - 1) {
          this.$router.push({
            name: 'AnimatedVideo',
            params: {
              id: 1
            }
          })
        } else {
          this.quizIndex++
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #f8672c;
  }
</style>
