<template>
  <img :src="require(`@/assets/images/${image}`)" alt="" @click="checkAnswer(choice.id)" @mouseover="onMouseOver"
       @mouseleave="onMouseLeave">
</template>

<script>
  export default {
    name: 'quiz-image',
    props: {
      quiz: Object,
      choice: Object
    },
    data () {
      return {
        hover: false
      }
    },
    computed: {
      image () {
        return `quiz-${this.quiz.id}-${this.choice.option.toLowerCase()}.jpg`
      }
    },
    methods: {
      onMouseOver (ev) {
        this.hover = true

        ev.target.style.border = 'thin solid yellow'
      },
      onMouseLeave (ev) {
        this.hover = false

        ev.target.style.border = 'none'
      },
      checkAnswer (id) {
        if (this.choice.correct && this.choice.id === id) {
          this.$emit('incrementIndex')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

  }
</style>
