<template>
  <section class="hero is-fullheight">
    <transition leave-active-class="animated slideOutUp">
      <video :key="showOverlay" :src="require(`@/assets/videos/video-3.mp4`)" autoplay controls
             @ended="showOverlay = true" v-if="!showOverlay"></video>
    </transition>

    <transition enter-active-class="animated slideInUp">
      <section :key="showOverlay" class="hero is-fullheight" v-if="showOverlay">
        <div class="hero-body">
          <div class="container">
            <div class="columns has-text-centered">
              <div class="column">
                <h1 class="title">We have come to the end of this activity.</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
    </transition>
  </section>
</template>

<script>
  export default {
    name: 'reflection',
    data () {
      return {
        showOverlay: false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #e5d636;
  }

  video {
    height: 100vh;
  }
</style>
