<template>
  <section class="hero is-fullheight">
    <video :src="require(`@/assets/videos/mark-anthony-speech.mp4`)" autoplay controls @ended="onVideoEnded"></video>

    <div class="hero is-fullheight" v-show="videoEnded">
      <div class="hero-body">
        <div class="column has-text-centered">
          <button class="button is-primary is-large" @click="gotoActivity">Go to Activity</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'speech',
    computed: {
      ...mapGetters(['speeches'])
    },
    data () {
      return {
        videoEnded: false,
        speechIndex: 0
      }
    },
    methods: {
      onVideoEnded () {
        this.videoEnded = true
      },
      gotoActivity () {
        this.$router.push('/activity')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    height: 100vh;
  }

  .hero {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
</style>
