<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('./assets/fonts/OpenSansCondensed-Bold.ttf') format('truetype');
  }

  * {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
  }

  button {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
  }

  video {
    background-color: #000;
  }

  .section {
    min-height: 100vh;
  }

  .is-light {
    color: #fff;
  }
</style>
